<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form>
            <fieldset>
                <h2>{{%%ERROR / SHORTURL STATEMENT}}</h2>
                <p>{{%%LINK / ERROR DEF}}</p>
                <p>{{%%CORRECTION}}</p>
              </fieldset>
        </form>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
